{% extends 'base.html' %}

{% load static %}

{% block content %}

<script src="{% static 'js/confirmation.js' %}"></script>

<div class="loginContflex">
<div class="loginCont">

<div class="bigCenter">
    CONFIRMATION
</div>

<div class="center16Text">
    An email has been sent to your email address to confirm your account
</div>

<div class="formCont">
    <form action="{% url 'mailconfirmation' %}" id="ConfirmForm" method="post" class="loginForm" onsubmit="return validateCode(event)">
        {% csrf_token %}
        {% if loginError %}

            <div class="errorMessage">
                {{ loginError }}
            </div>

        {% endif %}

        <div id = "errorMessCont" >
            <div class="errorMessage" id="clientErrorMessage" style="display: none;">
            </div>
        </div>

        <div class="formElement">
            <label for="confirmCode" class="formLabel">Code:</label> <input type="text" name="confirmCode" id="confirmCode">
        </div>

            <div class="centerSmallText" id="SendCode" style="display: none;">
                No code? <a href="#"  onclick="resendCode(event)"><u>Send it again.</u></a>
            </div>


        <div class="centerSmallText">
            <span id="time" style="display: none;">{{ codeTimer }}</span>
        </div>

        <div class="centeredCont">
            <button type="submit" class = "blueButton" id = "logButton">Confirm</button>
        </div>

    </form>
    
</div>
    
</div>
      
</div>


{% endblock %}