{% extends 'base.html' %}

{% load static %}

{% block content %}

<script src="{% static 'js/passwordRecovery.js' %}"></script>

<div class="loginContflex">
<div class="loginCont">

<div class="bigCenter">
    PASSWORD RECOVERY
</div>

<div class="center16Text">
    Enter the email address of the account you want to restore
</div>

<div class="formCont">
    <form action="{% url 'login' %}" id="RecoveryForm" method="post" class="loginForm" onsubmit="return Validation(event)">
        {% csrf_token %}
        {% if loginError %}

            <div class="errorMessage">
                {{ loginError }}
            </div>

        {% endif %}

        <div id = "errorMessCont" >
            <div class="errorMessage" id="clientErrorMessage" style="display: none;">
                
            </div>
        </div>

        <div class="formElement">
            <label for="email" class="formLabel">Email:</label> <input type="email" name="email" id="email">
        </div>

        <div class="formElement" id="code">
            <label for="codetext" class="formLabel">Code:</label> <input type="text" name="codetext" id="codetext">
        </div>
        
        <div class="formElement" id="password">
            <label for="passwordtext" class="formLabel">Password:</label> <input type="password" name="passwordtext" id="passwordtext">
        </div>

        <div class="formElement" id="passwordConf">
            <label for="passwordConftext" class="formLabel">Password confirmation:</label> <input type="password" name="passwordConftext" id="passwordConftext">
        </div>

        <div class="centeredCont">
            <button type="submit" class = "blueButton" id = "logButton">Confirm</button>
        </div>
        
    </form>
    
</div>

</div>

</div>


{% endblock %}